:root {
    color-scheme: dark;
}

body {
    background-color: #333;
    color: #ccc;
    margin: 0px;
    font-family: sans-serif;
}
body a { color: white; text-decoration: none; cursor: pointer; }
.container {
    text-align: center;
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height:100%;
    overflow-x: hidden;
}
.ecran {
    text-align: center;
    width: 100%;
    min-width: 100%;
    position: relative;
    left:0%;
    transition: 0.5s ease-out;
}
footer {
    padding: 2rem;
    margin-top: 6rem;
    border-top: 2px solid white;
    background-color: rgba(100,100,100,0.5);
}
.area {
    margin: 2rem auto;
    width: min(90%, 700px);

}
.area p {
    text-align: left;
    padding: 0rem 2rem;
    margin-top: 2rem;
}


.presentation-area {
    margin-bottom: 3rem;
}
#presentationParagraph p a img { float: left; }
#sourceCode { text-align: center; }
#sourceCode a { color: gray; }
#sourceCode i { position: relative; top: .5rem; font-size: 2rem; }


.file-picker-area {
    border: 2px solid white;
    border-radius: 15px;
}
#fileinput { padding: 2rem; }


.error-area {
    display: none;
    background-color: rgba(200,100,100,0.5);
    border: 2px solid red;
    border-radius: 15px;
}
#error-text {
    font-family: Monospace;
    color: red;
}


.success-area {
    display: none;
    background-color: rgba(50,100,200,0.8);
    border: 2px solid rgb(50,70,250);
    border-radius: 15px;
}


#backToFileLoader {
    text-align: left;
    cursor: pointer;
    padding: .5rem 1rem;
}


.filter-area {
    padding-bottom: 1rem;
    background-color: rgba(100,100,100,0.5);
    border: 2px solid rgb(100,100,100);
    border-radius: 15px;
}

.aspect-ratio1 {
    width: 45%;
    display: inline-block;
}



@media screen and (max-width: 600px) {

    .aspect-ratio1 { width: 100%; height: 70%; }
    .aspect-ratio-medium { height: 70%; }
    .aspect-ratio-extend { height: 90%; }
    .chart-div { margin-top: 4rem; }


}





